body {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

/* page on background */
#page-one-background {
  background-image: url('../images/god-of-wine.jpg');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

/* nav link */
.nav-link {
  border: none;
  font-size: 1.6em;
  position: fixed;
  z-index: 1;
  color: #F7F7F7; 
  padding-top: .5em;
}

/* nav color on hover */
.nav-link:hover {
  color: #CC4BC2;
}

/* right alignment */ 
.right-align {
  text-align: right;
  margin-right: 5%;
  display: block;
}

.item {
  color: white;
}

#page-three-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gif {
  height: 15em;
  width: 20em;
  z-index: 1;
  margin: 0 auto;
}

#drop-menu {
  width: 100vw;
  position: fixed;
  z-index: 1;
  margin-top: 1em;
}

.drop {
  font-size: 150%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

/* h1 titles */
.h1-title {
  font-family: 'Lobster', cursive;
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 15%;
  font-size: 350%;
  color: #F7F7F7;
  letter-spacing: 1px;
  border-bottom: 2px solid #878C8F;
  text-align: center;
}

#h3-page-one {
  font-family: 'Lobster', cursive;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 120%;
  letter-spacing: 2px;
  color: #C4CAD0;
  text-align: center;
}

/* black veil */ 
.veil {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}

/* footer on page one */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-top: 20em;
}

/* footer elements style */
.footer-element {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #C4CAD0;
  font-size: 200%;
  padding-left: .5em;
  padding-right: .5em;
  z-index: 1;
}

/* change elements on hover */
.footer-element:hover {
  color: #3A86FF;
}

/* page two image style */
#page-two-image {
  margin-left: 1em;
  height: 100vh;
}

/* page two wrapper */
#page-two-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* remove all style of a links on hover */
a:hover {
  text-decoration: none;
}

/* h2 titles */
.h2-title {
}

/* about wrapper */
#about-wrapper {
  margin-top: -22em;
  font-family: 'Lobster', cursive;
  color: #C4CAD0;
  text-align: center;
}

#about-info {
  margin: -13em 3em 0 3em;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;;
  font-size: 150%;
}

#page-four-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon {
  margin-left: 3em;
  margin-right: 3em;
  height: 5em;
  width: 5em;
  z-index: 1;
}

