body {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

/* page on background */
#page-one-background {
  background-image: url('../images/god-of-wine.jpg');
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

/* nav link */ 
#nav-link {
  border: none;
  font-size: 1.6em;
  position: fixed;
  z-index: 1;
  color: #ADF5FF;
  padding-top: .5em;
}

/* nav color on hover */
#nav-link:hover {
  color: #CC4BC2;
}

/* right alignment */ 
.right-align {
  text-align: right;
  margin-right: 3%;
}

/* h1 titles */
.h1-title {
  font-family: 'Lobster', cursive;
  height: 60px;
  width: 600px;
  margin: 15% 30% 0 25%;
  font-size: 350%;
  color: #CEE5F2;
  letter-spacing: 1px;
  border-bottom: 2px solid #ADF5FF;
  text-align: center;
}

/* black veil */ 
.veil {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* footer on page one */
footer {
  margin-top: 31%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* footer elements style */
.footer-element {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #ADF5FF;
  font-size: 200%;
  padding-left: .5em;
  padding-right: .5em;
}

/* change elements on hover */
.footer-element:hover {
  color: #CC4BC2;
}

#page-two-background {
  background-image: url('../images/cannibal-kid.jpg');
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
}


