body {
  max-width: 100%;
  max-height: 100%;
}

/* ==== PAGE ONE START ==== */ 
/* page one wrapper */ 
#page-wrapper {
  height: 100vh;
  width: 100vw;
}

/* page on background */
#page-one-background {
  background-image: url('../images/dotfiles-screenshot.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/* h1 titles */
.h1-title {
  width: 10em;
  margin: 0 auto;
  margin-top: 1%;
  font-size: 200%;
  color: #F9F8F8;
  letter-spacing: 1px;
  text-align: center;
}

/* h1 text */ 
#h1-page-one {
  margin: 0 auto;
  margin-top: 15%;
  width: 50vw;
  font-size: 520%;
  color: #E8EEF2;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border-bottom: 5px solid #F0F7F4;
  overflow: visible;
}

/* black veil */ 
.veil {
  margin: 0 25% 0 25%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 50vw;
}

/* footer on page one */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  margin-top: 25em;
}

/* footer elements style */
.footer-element {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #77B6EA;
  font-size: 200%;
  padding-left: .5em;
  padding-right: .5em;
  z-index: 1;
}

/* change elements on hover */
.footer-element:hover {
  color: #CC4BC2;
}

/* NAV BAR START */
/* nav link */
.nav-link {
  border: none;
  font-size: 1.6em;
  position: fixed;
  z-index: 1;
  color: #77B6EA; 
  padding-top: .5em;
}

/* nav bar color on hover */
.nav-link:hover {
  color: #CC4BC2;
}

/* nav bar links */
.items {
  color: #EBF5EE;
  font-family: 'Lobster', cursive;
}

.item:hover {
  color: #CC4BC2;
}

/* dropdown menu */ 
#drop-menu {
  width: 100vw;
  position: fixed;
  z-index: 1;
  margin-top: 1em;
}

.drop {
  font-size: 150%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

/* NAV BAR END */
/* ==== PAGE ONE END ==== */

#page-three-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gif {
  height: 15em;
  width: 20em;
  z-index: 1;
  margin: 0 auto;
  padding: 1em 1em;
}


.column-flex {
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ==== PAGE TWO START ==== */

/* page two image style */
#page-two-image {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 90vh;
}

/* page two wrapper */
#page-two-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  background-color: #F6EFEE;
}

/* h2 titles */
.cd-section .h2-title {
  line-height: 1em;
  border-bottom: 1px solid #3C3744;
  font-size: 350%;
}

/* about wrapper */
#about-wrapper {
  margin-top: -18em;
  font-family: 'Lobster', cursive;
  color: #3C3744;
  text-align: center;
}

.about-info {
  margin: 1em 3em 0 3em;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;;
  font-size: 150%;
}

/* remove all style of a links on hover */
a:hover {
  text-decoration: none;
}

#page-four-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon {
  margin-left: 3em;
  margin-right: 3em;
  height: 5em;
  width: 5em;
  z-index: 1;
}

.cd-section .h2-work-title {
  color: white;
  line-height: 1em;
  font-family: 'Lobster', cursive;
}

.project-info {
  position: absolute;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

#epic-wrapper:hover .project-info {
  visibility: visible;
  opacity: 1;
}

#tower-wrapper:hover .project-info {
  visibility: visible;
  opacity: 1;
}

/* ==== GENERAL CLASS STYLING START ==== */
/* right alignment */ 
.right-align {
  text-align: right;
  margin-right: 5%;
  display: block;
}

/* weighted font */
.strong-courier {
  font-family: Courier New;
  font-weight: bold;
}

/* ==== GENERAL CLASS STYLING END ==== */
